.card {
    border: solid black 2px;
}

.card {
    display: inline-block
}

.search-results-container div.card {
    cursor: pointer;
}

.search-results-container div img.card-img-top {
    height: 255px;
    object-fit: cover;
    object-position: center;
}

.search-results-container div.card:hover {
    border-color: #198754;
    box-shadow: 0px 1px 7px 2px rgba(25,135,84,0.75);
    -webkit-box-shadow: 0px 1px 7px 2px rgba(25,135,84,0.75);
    -moz-box-shadow: 0px 1px 7px 2px rgba(25,135,84,0.75);
}