#profileDocument{
    border: 2px solid #000000;
    width: 80%;
    margin: auto;
    padding: 10px;
}
#profileLayoutTable1{
    width: 100%;
    align-items: baseline;
}
#profileTableSpacer1{
    width: 100%;
    height: 1px;
}
#profileTableSpacer2{
    width: 50%;
    height: 1px;
}
#profilePhoto {
    width: 100px;
    overflow: hidden;
}
#profilePhotoEdit{
    width: 100px;
    overflow: hidden;
}
#profileEmail {
    text-align: left;
}
#profileDescription{
    text-align: left;
    width: 100%;
    border: 2px solid #4f4f4f;
    padding: 10px;
}